
.navbar {
    display: flex;
    align-items: center;
    background-color: #1b1c1e;
  
    .navbar-start {
      margin-right: auto;
    }
  
    .lottie-anim {
      padding: 1rem 0 0 1rem;
      height: 3rem;
      width: 3rem;
    }
  
    .nav-links {
      list-style-type: none;
      display: flex;
      align-items: center;
      margin: 0 1rem 0 0;
      padding: 0;
  
      li {
        margin: 0 2rem 0 0;
  
        a {
          transition: transform 0.2s;
          text-decoration: none;
          font-family: "Roboto Slab", sans-serif;
          font-size: 1.3rem;
          color: #fff;
          cursor: pointer;
  
          &:hover {
            transform: scale(1.1);
            color: #05b59e;
            cursor: pointer;
          }
        }
      }
    }
  
    @media screen and (device-width: 912px) and (device-height: 1368px) and (-webkit-device-pixel-ratio: 2) {
      .lottie-anim {
        height: 5rem;
        width: 5rem;
      }
      .nav-links {
        li {
          margin: 1.2rem;
          a {
            font-size: 2rem;
          }
        }
      }
    }
  
    @media screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
      .lottie-anim {
        height: 4.5rem;
        width: 4.5rem;
      }
      .nav-links {
        li {
          a {
            font-size: 1.8rem;
          }
        }
      }
    }
  
    @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
      .lottie-anim {
        height: 4.5rem;
        width: 4.5rem;
      }
      .nav-links {
        li {
          a {
            font-size: 1.8rem;
          }
        }
      }
    }
  
    @media screen and (max-width: 415px) {
      .nav-links {
        li {
          margin: 1rem;
          a {
            font-size: 1.3rem;
          }
        }
      }
    }
  
    @media screen and (max-width: 413px) {
      .lottie-anim {
        height: 3.5rem;
        width: 3.3rem;
      }
    }
  
    @media screen and (max-width: 376px) {
      .nav-links {
        margin-left: 0.8rem;
        li {
          margin: 0.7rem;
        }
      }
    }
  }
  